@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Gloria+Hallelujah&display=swap');
::selection {
    color: white;
    background-color: black;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0em;
    padding: 0em;
}

.navbar {
    background-color: rgb(255, 255, 255);
    height: 5em;
    display: flex;
    width: 100%;
    /* position: absolute;
    top: 0em;
    width: 100%; */
}

.logo {
    /* position: ; */
    height: 2em;
    padding: 1em;
    left: 10em;
}

.btn_nav {
    /* margin: 1em; */
    /* padding: 1em; */
    font-size: 1.5em;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
    border: #B3FF00 solid 0.19em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4em;
    height: 2em;
    width: 5.5em;
}

#hello {
    position: absolute;
    right: 10%;
    margin-top: 0.5em;
}

.btn_nav:hover {
    background-color: #B3FF00;
    border: black solid 0.19em;
    cursor: pointer;
}